.project {
  width: 100%;
  padding: 0 10%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project h2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}
.project h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}
.projects {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 10% 0;
}
.projects img {
  max-width: 500px;
  max-height: 200px;
}
